.guardar{
  color: white;
  background-color: #3f51b5;
}

.guardardiv{
  text-align: center;

}


.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}
.row{
  margin-top: 2%;
}

.center{
  text-align: center;
  align-items: center;
}

.guardar{
  width: 10%;
  margin: auto;
}

.alert{
  color: red;
  margin: 0%;
}
